<!-- views/partials/header.ejs -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="/main">World Cup Bets</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="/profile" data-toggle="modal">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/main" data-toggle="modal">Main</a>
    </li>
  </ul>
</nav>