<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <%- include('../partials/header') %>
</header>
  
<main class="container-fluid">
  


    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1>
              World Cup Bets - Christo kai Julian (pronounced "chai")
            </h1>
            <h2>About this page</h2>
            <p class="lead">The world cup betting system is a small side project that was developed for Julian and Christos (while that m***a still worked with Julian... -.-), where the could be doing different kinds of bets for the games of the world cup. It was a fun project, from the 14th of June until the 19th of July. <br>You can view the results here: <a href='/calculate'>hint... Julian won ;)</a></p>
            <p>
              <h2>
                How To Use
            </h2>
              Please follow the next steps:
            </p>
            <ol>
              <li>Sign up <a href="/sign">here.</a> or log in if your're already a file mou.</li>
              <li>Enter your bet.</li>
              <li>Press Submit.</li>
              &nbsp Note - You Have Until The Start Of The Game To Submit
              <li>Enjoy the game!</li>
              <li>Optionally, view your and your team-mates bet on profile</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>How It's Made</h2>
            <p class="lead">This site is run on MEEN Stack, as in MEAN without the A. It's hosted on glitch and the database lives on M-Lab. It uses EJS to render the pages and <a href='worlcup.sfg.io'>worldcup.sfg.io</a>. It was made with love by Julian, and often forgotten by Christo.... Yeah... I had to enter his bets manually sometimes... * cough* </p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Please Note</h2>
            <p class="lead">This was just a fun little project, nothing too serious. You can find the quite ugly, definitely not clean code on <a href="https://glitch.com/~world-cup-bets">Glitch </a> or Github (once I have time to clean it)</p>
            <p>
              Also, Christos unfortunately decided to abandon us... and me, so let's pour one out for our favorite m****a, both for loosing to someone who doesn't like football and for leaving.... Just kidding, I wish him all the best in all of his future ventures and all the best for his new work! Good luck buddy! *
            </p>
          </div>
        </div>
      </div>
    </section>
  
  
  <p style="font-size:10px; color:grey">
    * after a nice afternoon getting scorched by HR, the text has been amended
  </p>
  <p style="font-size:20px; text-align:right">
    Just kidding, all good and honestly, chase after your dreams my friend... Never stop betting!
  </p>
</main>
</body>
</html>